{% extends "base.html" %}

{%block content%}
<h3 style="text-align:center;">Form create deck</h3>
<form action={{ url_for('deck_create')}} method="post" style="text-align:center;">
    <div>
        <label for="name">Name: <abbr title="You need too write without special characters">*</abbr></label>
        <div><input type="text" name="name"  placeholder="Name"></input></div>
    </div>
    <div>
        <label for="user_id">User ID: <abbr title="You need too write number">*</abbr></label>
        <div><input type="number" name="user_id" placeholder="User ID"></input></div>
    </div>
<hr>
<button>add</button>
</form>

{%endblock%}