{% extends "base.html" %}
<style>
table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: center;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.modal-body {
text-align: left;
}

.info {
  border-color: #2196F3;
  color: dodgerblue;
}

.info:hover {
  background: #2196F3;
  color: white;
}

.success {
  border-color: #4CAF50;
  color: green;
}

.success:hover {
  background-color: #4CAF50;
  color: white;
}

.danger {
  border-color: #f44336;
  color: red;
}

.danger:hover {
  background: #f44336;
  color: white;
}
</style>

{%block content%}
    <a href={{ url_for('deck_create') }} >
    <button>Create deck</button>
    </a>

<h1 style="text-align:center;">Deck list</h1>
<input class="form-control" type="text" placeholder="Id, user_id, name" id="search-text" onkeyup="tableSearch()">
<button onclick="sortTable()">Sort name</button>
<table class="table table-striped" id="info-table" border="1">
    <thead>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>user_id</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
      {% for deck in decks %}
        <tr>
            <td>{{deck.id}}</td>
            <td>{{deck.name}}</td>
            <td>{{deck.user_id}}</td>
            <td>
                <div>
                    <a href={{ url_for("get_deck_id", deck_id=deck.id)}}><button type="button" class="btn info">Info</button></a>
                    <a href={{ url_for("deck_update", deck_id=deck.id)}}><button type="button" class="btn success">edit</button></a>
                    <button type="button" class="btn danger" data-bs-toggle="modal" data-bs-target="#exampleModal{{user.id}}">
                        delete
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal{{user.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title fs-5" id="exampleModalLabel">Delete deck</h3>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        id: {{deck.id}}
                                    </div>
                                    <div>
                                        name:{{deck.name}}
                                    </div>
                                    <div>
                                        user_id: {{deck.user_id}}
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <a href={{ url_for("deck_delete", deck_id=deck.id)}}>
                                    <button type="button" class="btn btn-success">delete</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
      {%endfor%}
    </tbody>
</table>


<script>
    function tableSearch() {
    var phrase = document.getElementById('search-text');
    var table = document.getElementById('info-table');
    var regPhrase = new RegExp(phrase.value, 'i');
    var flag = false;
    for (var i = 1; i < table.rows.length; i++) {
        flag = false;
        for (var j = table.rows[i].cells.length - 1; j >= 0; j--) {
            flag = regPhrase.test(table.rows[i].cells[j].innerHTML);
            if (flag) break;
        }
        if (flag) {
            table.rows[i].style.display = "";
        } else {
            table.rows[i].style.display = "none";
        }
    }
}
</script>
<script>
function sortTable() {
  var table, rows, switching, i, x, y, shouldSwitch;
  table = document.getElementById("info-table");
  switching = true;
  while (switching) {
    switching = false;
    rows = table.rows;
    for (i = 1; i < (rows.length - 1); i++) {
      shouldSwitch = false;
      x = rows[i].getElementsByTagName("TD")[1];
      y = rows[i + 1].getElementsByTagName("TD")[1];
      if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
        shouldSwitch = true;
        break;
      }
    }
    if (shouldSwitch) {
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
    }
  }
}
</script>

{%endblock%}