{% extends "base.html" %}
{%block content%}
<div class="form-create">
<form action={{ url_for("card_update",card_id=card.id)}} method="post">
  <div class="mb-3">
    <label  class="form-label">Word</label>
    <input type="text" class="form-control"  aria-describedby="emailHelp" name="word" value="{{card.word}}">
    <div  class="form-text">Input word.</div>
  </div>
  <div class="mb-3">
    <label  class="form-label">Translation</label>
    <input type="text" class="form-control"  aria-describedby="emailHelp" name="translation" value="{{card.translation}}">
    <div  class="form-text">Input translations.</div>
  </div>
  <div class="mb-3">
    <label  class="form-label">Tip</label>
    <input type="text" class="form-control"  aria-describedby="emailHelp" name="tip" value="{{card.tip}}">
    <div  class="form-text">Input tip.</div>
  </div>
<div class="mb-3">
    <label  class="form-label">User</label>
    <span class="input-group-addon">Please select</span>
            <select name="user_id" class="selectpicker form-control">
            {% for o in users %}
                {% if card.user_id == o.id %}
                <option value="{{o.id }}" selected="selected">{{ o.name }}</option>
                {% else %}
                <option value="{{o.id }}">{{ o.name }} </option>
                {% endif %}
            {% endfor %}
            </select>

</div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>


{%endblock%}
