{% extends "base.html" %}
{%block content%}
<div class="form-create">
<form action={{ url_for("card_create")}} method="post">
  <div class="mb-3">
    <label  class="form-label">Word</label>
    <input type="text" class="form-control"  aria-describedby="emailHelp" name="word">
    <div  class="form-text">Input word.</div>
  </div>
  <div class="mb-3">
    <label  class="form-label">Translation</label>
    <input type="text" class="form-control"  aria-describedby="emailHelp" name="translation">
    <div  class="form-text">Input translations.</div>
  </div>
  <div class="mb-3">
    <label  class="form-label">Tip</label>
    <input type="text" class="form-control"  aria-describedby="emailHelp" name="tip">
    <div  class="form-text">Input tip.</div>
  </div>
<div class="mb-3">
    <label  class="form-label">User</label>
    <span class="input-group-addon">Please select</span>
            <select name="user_id" class="selectpicker form-control">
            {% for o in users %}
                <option value="{{o.id }}">{{ o.name }}</option>
            {% endfor %}
            </select>

</div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>


{%endblock%}
