{% extends "base.html" %}

{%block content%}
<h3 style="text-align:center;">Form create card</h3>
<form action={{ url_for('card_create')}} method="post"  style="text-align:center;">
     <div>
        <label for="user_id">User ID: <abbr title="You need too write User ID">*</abbr></label>
         <div><input type="number" name="user_id"  placeholder="User ID"></input></div>
    </div>
    <div>
        <label for="word">Word: <abbr title="write english word">*</abbr></label>
        <div><input type="text" name="word" placeholder="Word"></input></div>
    </div>
    <div>
        <label for="translation">Translation: <abbr title="Write translation on russian">*</abbr></label>
        <div><input type="text" name="translation" placeholder="Translation"></input></div>
    </div>
    <div>
        <label for="tip">Tip: <abbr title="Write tip">*</abbr></label>
        <div><input type="text" name="tip" placeholder="Tip"></input></div>
    </div>
<hr>
<button>add</button>
</form>

{%endblock%}