{% extends "base.html" %}
{%block content%}
<table class="table table-striped">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>email</th>
        <th>age</th>
        <th>action</th>
    </tr>
{% for user in users %}
<tr>
    <td>{{user['id']}}</td>
    <td>{{user['name']}}</td>
    <td>{{user['email']}}</td>
    <td>{{user['age']}}</td>
    <td><a href="/user/{{user.id}}" class="btn btn-outline-success">info</a> <a href="/user/{{user.id}}/edit" class="btn btn-outline-secondary">edit</a> <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal{{user.id}}">delete</button>
         <!-- Modal -->
                    <div class="modal fade" id="exampleModal{{user.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <div>
                                   id: {{user.id}}
                                </div>
                                <div>
                                    name:{{user.email}}
                                </div>
                                <div>
                                    username: {{user.name}}
                                </div>
                                <div>
                                    age: {{user.age}}
                                </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
                             <a href="/user/delete/{{user.id}}" >
                                <button type="button" class="btn btn-outline-danger">delete</button>
                              </a>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
       </td>
    </tr>

{%endfor%}
    </table>
{%endblock%}