{% extends "base.html" %}
{%block content%}
<div class="form-create">
<form action={{ url_for("user_update", user_id=user.id)}}  method="post">
    <div class="mb-3">
    <label  class="form-label">Email address</label>
    <input type="email" class="form-control"  aria-describedby="emailHelp" name="email" value={{user.email}}>
    <div  class="form-text">We'll never share your email with anyone else.</div>
  </div>
    <div class="mb-3">
    <label  class="form-label">Name</label>
    <input type="text" class="form-control"  aria-describedby="emailHelp" name="name" value={{user.name}}>
    <div class="form-text">Enter your name</div>
  </div>
    <div class="mb-3">
    <label  class="form-label">Age</label>
    <input type="number" class="form-control" id="exampleInputText1" aria-describedby="emailHelp" name="age"  value={{user.age}}>
    <div id="textHelp" class="form-text">Enter your age</div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{%endblock%}