{% extends "base.html" %}
<style>
table {
  border-collapse: collapse;
  width: 15%;
  border: 1px solid #ddd;
}

th, td {
  text-align: center;

.modal-body {
text-align: left;
}
</style>
{%block content%}
<table class="table table-striped" id="info-table" border="1">
  <tr>
    <th colspan="2"><p>Information user ID:{{user.id}}</p></th>
  </tr>
  <tr>
    <th>email</th>
    <td>{{user.email}}</td>
  </tr>
  <tr>
    <th>username</th>
    <td>{{user.username}}</td>
  </tr>
  <tr>
    <th>password</th>
    <td>{{user.password}}</td>
  </tr>
</table>

{%endblock%}