{% extends "base.html" %}

{%block content%}
<h3 style="text-align:center;">Form create user</h3>
<form action={{ url_for('user_create')}} method="post" style="text-align:center;>
     <div class="mb-3">
        <label for="name" class="form-label">Name <abbr title="You need too write without special characters">*</abbr></label>
         <div><input type="text" class="form-control" name="name"  placeholder="Name"></input></div>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email <abbr title="name@domain.com">*</abbr></label>
        <div><input type="text" class="form-control" name="email" placeholder="Email"></input></div>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password <abbr title="Password must be at least 8 characters long and
        contain at least two digits">*</abbr></label>
        <div><input type="text" class="form-control" name="password" placeholder="Password"></input></div>
    </div>
    <p><button>add</button></p>
</form>

{%endblock%}
